
#game {
    display: none;
}
.button-section {
    margin-left: 70px;
}
.button-section__button {
    display: none;
}
.button-section__container {
    display: inline-block;
    width: 120px;             
}
.mdl-layout__content {
     margin: auto;
     
}
.mdl-card__supporting-text {
    font-size: 20px;
    line-height: 2;
}
.mdl-card__actions-button {
    display: inline-block;
    width: 120px;
    height: 40px;
}
.mdl-card.intro {
    margin-top: 150px;
    width: 600px;
}
.mdl-card.game {
    margin-top: 150px;
    width: 600px;
}
.mdl-layout {
    background-color: #C5CAE9;
}
